body{   
    background-image: url("../images/contact.jpg") !important;
}
.container{
    display: flex;
    justify-content: center;
}
.contact-form{
   display: flex;
   flex-direction: column; 
   background-color: rgba(0, 0, 0, 0.295);
   padding: 2em;
   margin-top: 2em;
   border-radius: 1em; 
}

.contact-form h1{
    color: white;
    text-shadow: 5px 5px 5px black;
}
.contact-form input{
    width:30em;
    margin-top: 1.5em;
    height: 50px;
    border-radius: .25rem;
    box-shadow: 5px 5px 5px black;
}

.contact-form textarea{
    width:30em;
    margin-top: 1.5em;
    border-radius: .25rem;
    box-shadow: 5px 5px 5px black;
}



