 .heading{
        color:white;
        text-shadow:5px 5px 5px black;
        height: 100%;
    }
body{
    background-image: url("../images/background.jpg");
    font-family: 'Hurricane', cursive;
}

@media only screen and (max-width: 600px){
    html{
        height: 100%;
    }
    body{
        background-image: url("../images/index-mobile.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position: left top;
        
    }
    .heading{
        color:white;
        text-shadow:5px 5px 5px black;
        height: 100%;
    }

}