.photo_container{
    display:flex;
    flex-wrap: wrap;
    margin-top: 10em;
    width:75%;
    padding: 1.5em;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    width:23%;
    border-radius: 2em;
    overflow: hidden;

}

.photo img{
    position: relative;
    width:75%;
    border-radius: .5em;

}

.photo img:hover{
   cursor: pointer;
   transform: scale(1.25);
   z-index: 2;
   transition: transform 1s ease-in;
}
.photo_overlay{
    visibility: hidden;
    position: fixed;
    top:5%;
    z-index: 3;
    width:85vw;
    height:85vh;
    border:15px solid rgba(46, 45, 45, 0.76);
    background-color: rgba(51, 50, 50, 0.788);
    padding:1em;
    border-radius: 2em;
}

.photo_overlay_photo{
    display:flex;
    justify-content: center;
    border-radius: 5em;
    width: 95%;
    height: 95%;
    overflow: hidden;
}
.photo_overlay_photo img{
    margin-top: 2rem;
    border-radius: 1em;
    box-shadow: 20px 20px 20px black;
}
