body{
    background-image: none;
    background-color: antiquewhite;
}
.photo_container{
    display:flex;
    flex-wrap: wrap;
    margin-top: 5em;
    width:100%;
    padding: 1.5em;
    overflow-y: hidden;

}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    width:23%;
    border-radius: 2em;
    overflow: hidden;

}

.photo img{
    position: relative;
    width:75%;
    border-radius: .5em;
    z-index: -1;

}

.photo:hover{
   cursor: pointer;

}
.photo_overlay{
    visibility: hidden;
    background-color: rgba(3, 3, 3, 0.65);
    width:75%;
    margin: auto;
    border-radius: .5em;
    padding:1em 5em 5em 5em;
}





@media only screen and (max-width: 600px){
    body{
        background-size: cover;
    }
    .photo_container{
        justify-content: center;
        margin-top: 1em;
        overflow-y: hidden;
    }
    .photo{
        width: 15em;
    }
}
