body{
    background-image: none !important;
    background-color: rgb(243, 241, 237);
    text-align: center;
}

.courtesy{
   display:flex;
   justify-content: center;
   align-items: baseline;
}

.courtesy a{    
    margin-left: .5em ;
    text-decoration: none;
    color: inherit;    
}

.courtesy a{    
    margin-left: .5em ;
    text-decoration: none;
    color: inherit;    
}

.courtesy a:hover{
    text-decoration: underline;  
    text-shadow: 5px 5px 5px black;  
       
}
.photo_container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;
}
.photo{
   width: 30em;
   margin-bottom: 1em;
   
}

/* @media only screen and (max-width: 600px){
    body{
        background-image:none !important;
    }
    .photo_overlay{
        display:none;
    }
    .photo_container{
        justify-content: center;
        margin-top: 1em;
        overflow-y: hidden;
    }
    .photo{
        width: 15em;
    }
} */
