body{
    min-height: 100vh;
}
.rsvp_container_form{
    display: none;
    position:fixed;
    top:7.95%;
    left:65%;
    min-width:500px;
    margin: 0 auto; 
    background-color: black !important;
    border-radius: .25em;
   
}
#rsvp_exit_btn{
    width:50px;
    position:relative;
    margin-left: auto;
}
.rsvp_container_form_click{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 20%;
    background: rgba(0, 0, 0, .85);
    padding:1.5em;
    z-index: 3;
}
.rsvp_container_form h2{
    color: #9d9b9b;
    font-size: 1em;
}
.rsvp_container_form input{
    margin-bottom: .5em;
    width:75%;
    height: 2em;
    border-radius: .25em;
    background: rgba(136, 136, 136, 0.28);
    color:white;
    font-size: 1em;
}
.rsvp_container input::placeholder {
    color: #fafafa;
    font-size: 1em;
}

.rsvp_container{
   display:flex;
   flex-direction: column;
   margin-top: 10em;
}
.rsvp_container::-webkit-scrollbar{
    display: none;
}
.rsvp_container_header{     
    background-color: rgba(0, 0, 0, 0.486);
     color: white;
     text-shadow: 1px 1px 1px black;
     z-index: 1;
}
.rsvp_container_header p{
    font-size: 1.5em;
}

.rsvp_container_header p a{
    cursor: pointer;
    color: inherit;
}

.rsvp_container_header h1{
    font-size: 5em;
    letter-spacing: .75em;   
    text-shadow: 2px 2px 2px black;
}


.rsvp {
    font-size: 3em;
    letter-spacing: .1em;
    color:white;
    text-shadow: 5px 5px 10px black;
}
#rsvp_maker{
    display: flex;   
    align-items: center;   
    justify-content: center;
    font-size: 2rem;
    z-index: 2;
    position:fixed;
    top:10%;
    right:50px;
    height: 40px;   
    border-radius: .5em;
    color:white;
    text-shadow: 5px 5px 10px black;
    background-color: black;  
    padding: 1em;     
}
#rsvp-maker h4{
    text-align: center;
}


#rsvp_maker:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.09);
}

.bg-trans{
    background-color: rgba(32, 32, 32, 0.377);
}

a{
    color: inherit;    
    transition:1s ease-in;
}
a:hover{
    color: black;
    text-shadow: 1px 1px 1px black;  
    text-shadow: 2px 0px 15px white;
    font-size: 1.25em;
}
hr{
    border-top: 10px dotted white;
    width: 75%;
    
}

@media only screen and (max-width:1450px){   
    #rsvp_maker{
        display: flex;
        text-align: center;
        position:sticky;
        top:90vh;        
        width:95vw;
        margin:0 auto .25em auto;
        background-color: white;
        color: black;
    }
    #rsvp_maker:hover{
        background-color: #9d9b9b;
    }
    .rsvp_container_form{
        width:100%;
        left: 0;
        background: rgba(0, 0, 0, .95);
    }
   
}
@media screen and (max-width:950px){
   .rsvp_container_header h1{
        font-size: 2em;
    }
    
}

@media screen and (max-width:500px) {
    .rsvp{
        font-size: .75em;
    }
    
}