{% extends 'index.html' %}
{%block title%}Contact Us - {%endblock%}
{%block head%}
    {{super()}}
    <link rel="stylesheet" href="../static/css/contact.styles.css"/>
{% endblock %}
{%block content%}
<div class="container-fluid row mt-5 justify-content-end ">    
    <form class='container row p-2 rounded contact-form align-items-center' action="{{ url_for('send') }}" method="POST">
        <h1>Leave Us A Message</h1>       
       {{form.csrf_token}}
       <div class='col-12 mb-1'>
        {{form.name}}
       </div>
       <div class='col-12 mb-1'>
        {{form.email}}
       </div>
       <div class='col-12 mb-1'>
        {{form.message(rows='15')}}
        <input type='text' name='honey_pot' id='honey_pot'/>
       </div>
       <div class='col'>
        <input id="submit_btn" type="submit"/>
       </div>     
   </form>
</div>
   
    <script>
        $('#honey_pot').hide();        
        $('#honey_pot').bind('input',function(){
            console.log("changing")           
            $('#submit_btn').remove();
          
            
        })
    </script>
   
{%endblock%}

   