<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="icon"  type="image/x-icon" href="../static/images/img.png"/>
    <title>Mobley and Bailey Wedding</title>
  </head>
  <body>
    <nav>
      <a href="/photos">Photos</a>
      <a href="/rsvp">RSVP</a>
      <a>Registry</a>
      <a href="/contact">Reach Out</a>
     <div class="registry">
       <a  href="https://www.amazon.com/hz/wishlist/ls/1IUH8FY351NRZ?ref_=wl_share">Amazon Registry</a>
       <a href="https://www.walmart.com/registry/WR/3c528b4e-c382-4f62-a463-25d954380bea">Walmart Registry</a>
      </div>
    </nav>
    <div class="Heading">
      <h1>Taylor & Dwight's</h1>
      <h2>Wedding Journey</h2>
      <h2 id="countdown"></h2>
    </div>

    <script src="../static/javascript/index.js"></script>
   <script src="../static/javascript/countdown.js"></script>
  </body>
</html>
