<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/index.styles.css" />
    <link rel="icon"  type="image/x-icon" href="../static/images/img.png"/>
    <title>Mobley and Bailey Wedding</title>
  </head>
  <body>
  {% include 'navbar.html' %}
    <div class="Heading">
      <h1>Taylor & Dwight's</h1>
       <h2>Wedding Journey</h2>
      <div style="display: flex; justify-content: center; align-items: center;">
        <p id="countdown"></p>
      </div>

    </div>


   <script src="../static/javascript/countdown.js"></script>
  </body>
</html>
