{% extends 'index.html' %}
{% block title%}Photos - {%endblock%}
{%block head%}
  {{super()}}
  <link rel="stylesheet"  href="../static/css/photos.styles.css"/>
{%endblock%}

 

{% block content %}
<h1>Engagement Photos</h1>
<div class='courtesy'>
  <h6>Courtesy of: </h6>
  <a  href="https://wildcicadaimages.com/" target="_blank">Wild Cicada Images</a>
</div>

<div class="photo_container" >
    {% for photo in images %}
        <div class="photo">
           <img src={{photo}} class="img-thumbnail" alt="...">
        </div>
    {% endfor %}
</div>
{% endblock %}

