{% extends 'index.html' %}
{% block title %}RSVP - {%endblock%}
{%block head%}
    {{super()}}
    <link rel="stylesheet" href="../static/css/rsvp.styles.css"/>
{%endblock%}
     
    
      
{%block content%}
        <div id="rsvp_maker">
            <h4>Click Here To RSVP</h4>
        </div>
        <form class="rsvp_container_form" action="{{ url_for('add') }}" method="POST">
            <input id="rsvp_exit_btn" type="button" value="X"/>
            <h2>RSVP</h2>
            {{form.csrf_token}}
            {{form.name}}
            {{form.num_guests}}
            <input type="submit" placeholder="Submit" class="rsvp_submit">
        </form>


        <div class="rsvp_container_header row sticky-top  width-100 justify-content-center text-center">
            <h1>RSVP LIST</h1>
            <p>Please use the <a href="{{ url_for('contact') }}">Reach Out</a> link if you need to make changes.</p>

        </div>

        <div class="container fluid">
            <div class='row rsvp justify-content-center text-center'>
                <div class="col-6 col-md-3"><h3>Guest Name</h3></div>
                <div class="col-6 col-md-4"><h3># of Guests</h3></div>
            </div>            
            {% for guest in rsvps %}
            <div class="row rsvp justify-content-center text-center">
                <h4 class="col-6 col-md-3 ">{{ guest }}</h4>
                <h4 class='col-6 col-md-4'>{{guest.num_guests}}</h4>
            </div>
            {% endfor %}
            <div class='row rsvp justify-content-center text-center mt-4'>
                <div class="col-md-12 text-center"><h3>Total Guests: {{total_guests}}</h3></div>               
            </div>   
        </div>
       

        <script src="../static/javascript/rsvp.js"></script>
{%endblock%}

    