{% extends 'index.html' %}
{% block title %}RSVP - {%endblock%}
{%block head%}
    {{super()}}
    <link rel="stylesheet" href="../static/css/rsvp.styles.css"/>
{%endblock%}
     
    
      
{%block content%}
        <div id="rsvp_maker">
            <h4>Click Here To RSVP</h4>
        </div>
        <form class="rsvp_container_form" action="{{ url_for('add') }}" method="POST">
            <input id="rsvp_exit_btn" type="button" value="X"/>
            <h2>RSVP</h2>
            {{form.csrf_token}}
            {{form.name}}
            {{form.num_guests}}
            <input type="submit" placeholder="Submit" class="rsvp_submit">
        </form>


        <div class="rsvp_container_header row sticky-top  width-100 justify-content-center text-center">
            <h1>RSVP LIST</h1>
            <p>Please use the <a href="{{ url_for('contact') }}">Reach Out</a> link if you need to make changes.</p>

        </div>

        <div class="container-fluid bg-trans rounded">
            <div class='row rsvp justify-content-center text-center align-items-center mb-3'>
                <table class="w-75 text-start mx-auto mt-5 ">
                    <tr>                        
                        <td class="text-end "> <h4>Ordained By:</h4></td>
                        <td><h4>Pastor Rod Zwemke from <a href="https://crossroadsjc.com/" target="_blank">CROASSROADS CHURCH</a> </h4></td>    
                                        
                    </tr>
                    <tr>
                        <td class="text-end"> <h4>Photography By:</h4></td>
                        <td> <h4>Photography By: Leah with <a href="https://wildcicadaimages.com/about/" target="_blank">Wild Cicada Images</a></h4> </td>                        
                    </tr>
                    <tr>
                        <td class="text-end"> <h4>Entertainment By:</h4></td>
                        <td><h4><a href="https://niceentertainment.com/?gclid=EAIaIQobChMImt2x9pDX9QIVUD6tBh01fwRtEAAYASAAEgKvd_D_BwE" target="_blank">Nice Entertainment</a></h4></td>                        
                    </tr>
                    <tr>
                        <td class="text-end"> <h4>Catered By:</h4></td>
                        <td><h4><a href="https://heavenlyhawgsbbq.com/" target="_blank">Heavenly Hawgs BBQ</a></h4></td>                        
                    </tr>
                </table>              
               
               
            </div>  
            <hr class="mx-auto mt-5">        
            <div class=' container row rsvp justify-content-center text-center align-items-center mx-auto '>
                <div class="col-6 "><h3>Guest Name</h3></div>
                <div class="col-6 "><h3># of Guests</h3></div>
            </div>            
            {% for guest in rsvps %}
            <div class="container row rsvp justify-content-center text-center  align-items-center mx-auto ">
                <h4 class="col-6  ">{{ guest }}</h4>
                <h4 class='col-6 '>{{guest.num_guests}}</h4>
            </div>
            {% endfor %}
            <hr class="mx-auto">  
            <div class='row rsvp justify-content-center text-center mt-4'>
                <div class="col-md-12 text-center"><h3>Total Guests: {{total_guests}}</h3></div>               
            </div>   
        </div>
       

        <script src="../static/javascript/rsvp.js"></script>
{%endblock%}

    