<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link rel="icon"  type="image/x-icon" href="../static/images/img.png"/>
    <title>Photos</title>
</head>
<body>

<nav>
     <a href="index.html">Home</a>
      <a href="rsvp.html">RSVP</a>
      <a href="photos.html">Photos</a>
    <ul>Registry>
         <li><a href="https://www.amazon.com/hz/wishlist/ls/1IUH8FY351NRZ?ref_=wl_share">Amazon Registry</a></li>
    </ul>
      <a href="contact.html">Reach Out</a>
</nav>


<script src="../static/javascript/index.js"></script>
<script src="../static/javascript/countdown.js"></script>
</body>
</html>